@charset "UTF-8";
html {
    touch-action: manipulation;
}

@font-face {
	font-family: 'PixelMplus 12';
	src: url('../font/PixelMplus12-Regular.ttf');
}

body{
	margin: 0 0 0 0;
	background-color: #000000;
	font-family: 'PixelMplus 12';
}
.wrapper1{
	margin: 0 auto 0 auto;
	max-width: 1050px;
}
h1{
	color: #ffffff;
	font-size: 110px;/*変更*/
	margin: 300px 0 50px 0;
	text-align: center;
}

h2{
	color: #ffffff;
	font-size: 30px;
}

h3{
	color: #ffffff;
	font-size: 24px;
}

p{
	color: #ffffff;
	line-height: 2.8;
	font-size: 20px;
}

.nav li{
	list-style-type: none;
	font-size: 40px;
	text-align: center;
	margin: 20px;

}
.nav ul{
	margin: 0 0 0 0;
	padding: 60px 0px 60px 0px;
}
.nav a:link {
	color: #ffffff;
	text-decoration: none;
}
.nav a:visited {
	color: #ffffff;
	text-decoration: none;
}
.nav a:hover {
	color: #7b8dac;
	text-decoration: none;
}
.nav a:active {
	color: #7b8dac;
	text-decoration: none;
}


.wrapper-container {
	display: inline-block;
	background-color: #333333;
	margin: 80px;
}

.tetris-container {
	display: flex;
	flex-direction: row;
	margin: 10px;
	background-color: #333333;
}

.tetris-panel-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    color: white;
    background-color: #333333;
}

.tetris-panel-container-padding {
    flex-grow: 1;
}

.tetris-panel-container p {
   margin: 0;
   padding: 0;
}

.tetris-button-panel {
    border-style: none;
    width: 100%;
}

.tetris-button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #444444;
}
